  table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  }

  .body{
    background: url(../../../../../public/assets/images/5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 86px);
    width: 100vw;
    padding-top: 50px;
  }

  .container{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }

  .btn{
    background-color: #EBE8E1;
    color: #000;
  }
